html {
    height: 100%;
    margin: 0;
}

body {
    height: 100%;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    font-size: small;
    color: #222;
    font-family: arial, sans-serif;
}

nav {
    position: relative;
    top: 16px;
    font-size: 13px;
    font-family: arial, sans-serif;
}

#left-nav {
    position: absolute;
    margin: 7px 0 0 10px;
}

#left-nav a {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    line-height: 15px;
}

#left-nav a:hover {
    text-decoration: underline;
}

.flex-container {
    display: flex;
    min-width: 181px;
    z-index: 987;
    float: right;                       /* without float right, the flex container width is max vp */
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    align-items: center;                /* vertical alignment of flex items */
    justify-content: flex-end;          /* horizontal alignment of flex items */
    line-height: normal;
}

.flex-1 {
    white-space: nowrap;
    padding-right: 15px;
}

.flex-1 #images {
    padding-left: 15px;
}

.flex-1 a {
    line-height: 24px;
    display: inline-block;
    color: rgba(0,0,0,0.87);
    text-decoration: none;
    outline: none;
    vertical-align: middle;
}

.flex-1 a:hover {
    text-decoration: underline;
    opacity: 0.85;
}

.flex-2 {
    display: flex;
    align-items: center;
}

.flex-2 a {
    color: #fff;
    cursor: default;
    text-decoration: none;
}

.flex-2 a.apps-menu {
    cursor: pointer;
}

.apps-menu {
    background-image: url('//ssl.gstatic.com/gb/images/i1_1967ca6a.png');
    background-size: 528px 68px;
}

.apps-menu-properties {
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    background-position: -132px -38px;
    opacity: .55;
}

.apps-menu-properties:hover {
    opacity: 1;
}

.sign-in-box {
    width: 43.3167px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background: -moz-linear-gradient(top,#4387fd,#4683ea);
    display: inline-block;
    line-height: 28px;
    padding: 0 12px;
    border-radius: 2px;
    align-self: baseline;
}

.sign-in-box:hover {
    box-shadow: 0 0.5px rgba(0, 0, 0, 0.25);
}

main {
    display: block;
    padding-bottom: 35px;
}

#container {
    line-height: normal;
    margin-top: 89px;
    height: 233px;
    transition: 0.5s;
    width: 100%;
}

/* container element resizes to margin-top: 47px when the height of the viewport changes */
@media screen and (max-height: 768px) {
    #container {
        line-height: normal;
        margin-top: 47px;
        height: 233px;
        transition: 0.5s;
    }
}

@media screen and (max-height: 536px) {
    #container {
        height: 100px;
        transition: 0.5s;
    }

    img#hplogo {
        padding-top: 10px !important;
        height: 72px;
        width: auto;
    }
}

img {
    display: block;
    margin: 0 auto;
}

#search-field {
    margin-top: 0;
    position: absolute;
    top: 311px;
    min-width: 980px;
    width: 100%;
    height: 140px;
    transition: 0.5s;
}

/* searchbar element resizes to top 269px when the height of the viewport changes and there is no position absolute */
@media screen and (max-height: 768px) {
    #search-field {
        margin-top: 0;
        top: 269px;
        min-width: 400px;
        width: 100%;
        height: 140px;
        transition: 0.5s;
    }
}

@media screen and (max-height: 563px) {
    #search-field {
        transform: translateY(-129px);
    }
}

#search-field form {
    margin: 0 auto;
}

.search-container {
    position: relative;
    margin: 0 auto;
    padding-top: 6px;
}

#search-container-size {
    width: 584px;
}

.search-flex {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

#search-flex-size {
    width: 582px;
}

.search-bar {
    display: flex;
    flex: 1;
    padding: 5px 8px 0 16px;
    padding-left: 14px
}

.search-icon-container {
    display: flex;
    align-items: center;
    padding-right: 13px;
    margin-top: -5px;
}

.search-icon-margin {
    margin: auto;
    line-height: normal;
    height: 26px;
}

.search-icon-properties {
    display: inline-block;
    fill: currentColor;
    line-height: 24px;
    position: relative;
    height: 24px;
    width: 24px;
}

.search-icon {
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.search-text {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.search-text-layer {
    color: transparent;
    flex: 100%;
    white-space: pre;
}

.text-properties {
    font: 16px arial, sans-serif;
    line-height: 34px;
    height: 34px !important;
}

.text {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    margin-top: -37px;
    font-size: 16px;
}

input:invalid {
    box-shadow: none;
}

.button-field {
    width: 584px;
    height: 70px;
    padding-top: 18px;
    text-align: center;
}

.buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    font-family: arial, sans-serif;
    color: #5F6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.buttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);  /* horizontal, vertical, blur, spread */
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.language-field {
    font-size: small;
    margin-bottom: 24px;
}

.language {
    display: inline-block;
    line-height: 28px;
}

.language a {
    padding: 0 3px;
    color: #1a0dab;
    text-decoration: none;
    font-family: arial, sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    min-width: 400px;
    width: 100%;
    margin: 0 auto;
}

#footer {
    background: #f2f2f2;
    line-height: 40px;
    min-width: 400px;
    border-top: 1px solid #e4e4e4;
    transition: 0.5s;
    left: 0;
    right: 0;
}

@media screen and (max-height: 768px) {
    html {
        overflow-y: scroll;
    }

    #footer {
        background: #f2f2f2;
        line-height: 40px;
        min-width: 400px;
        border-top: 1px solid #e4e4e4;
        bottom: -27px;
        transition: 0.5s;
    }
}

.footer-field {
    font-size: 14px;
    margin-left: -27px;
}

.top-footer {
    border-bottom: 1px solid #e4e4e4;
}

.top-footer-properties {
    margin-left: 30px;
    text-align: left;
    color: rgba(0,0,0,0.54);
    padding-left: 27px;
}

#footer-right {
    float: right;
    margin-right: 30px;
}

footer a {
    display: inline-block;
    color: #5f6368;
}

#footer a {
    text-decoration: none;
    white-space: nowrap;
}

#footer a:hover {
    text-decoration: underline;
}

.footer-spacing {
    padding-left: 27px;
    margin: 0 !important;
}

#footer-left {
    float: left;
    margin-left: 30px;
}